@{
	
}
@{
	ViewData["Title"] = "Home page";
}
<head>
	<title>@ViewData["Title"] - @Consts.SystemName</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf8">
	<meta name="apple-mobile-web-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link type="image/png" rel="icon" href="favicon.ico">
	<link rel="manifest" href="app.webmanifest">
	<link rel="stylesheet" type="text/css" href="/css/lrr.css">

	<link rel="stylesheet" type="text/css" href="/css/vendor/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/jquery.contextMenu.min.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/awesomplete.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/tippy.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/allcollapsible.min.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/swiper-bundle.min.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/ReactToastify.min.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/sweetalert2.min.css">
	<link rel="alternate stylesheet" type="text/css" title="Nadeko" href="/themes/modern_red.css">
	<link rel="stylesheet" type="text/css" title="Hachikuji" href="/themes/modern.css">
	<meta name="theme-color" content="#34353B">
	<link rel="alternate stylesheet" type="text/css" title="Yotsugi" href="/themes/modern_clear.css">
	<link rel="alternate stylesheet" type="text/css" title="H-Verse" href="/themes/g.css">
	<link rel="alternate stylesheet" type="text/css" title="Sad Panda" href="/themes/ex.css">

	<script src="/js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.dataTables.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/preact.umd.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/hooks.umd.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/compat.umd.js" type="text/JAVASCRIPT"></script>
	<script>window.React = window.preactCompat; window.react = window.preactCompat;</script>
	<script src="/js/vendor/clsx.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/react-toastify.umd.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.ui.position.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/jquery.contextMenu.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/awesomplete.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/popper.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/tippy-bundle.umd.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/marked.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/allcollapsible.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/swiper-bundle.min.js" type="text/JAVASCRIPT"></script>
	<script src="/js/vendor/sweetalert2.min.js" type="text/JAVASCRIPT"></script>

	<script src="/js/index.js" type="text/JAVASCRIPT"></script>
	<script src="/js/common.js" type="text/JAVASCRIPT"></script>
	<script src="/js/server.js" type="text/JAVASCRIPT"></script>
	<script src="/js/index_datatables.js" type="text/JAVASCRIPT"></script>

</head>
